
 body {
  text-align: center;
  font-family: 'Poiret One', monospace;
  font-size: 20px;
}

h1 {
  font-family: 'Amatic SC', monospace;
  font-size: 100px;
  text-align: center;
}

img {
  zoom: 30%;
  margin: auto;
}

h2 {
  font-family: 'Poiret One', monospace;
  font-size: 70px;
  text-align: center;
}

table {
  font-family: 'Poiret One', monospace;
  font-size: 50px;
  text-align: left;
  margin: auto;
}

fieldset {
  font-size: 20px;
  width: 450px;
  float: inherit;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

legend {
  font-size: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 150%;
}
