img {
  zoom: 30%;
  margin: auto;
  display: block;
}

h1 {
  font-family: 'Amatic SC', monospace;
  font-size: 100px;
  text-align: center;
  margin-bottom: -5px;
  display: block;
}

nav {
  margin-top: 15px;
  font-size: 20px;
}

body {
  text-align: center;
  font-family: 'Poiret One', monospace;
  font-size: 40px;
}

fieldset {
  font-size: 20px;
  width: 500px;
  margin: auto;
  font-weight: bold;
}

form {
  margin-top: 100px;
}

h2 {
  font-family: 'Poiret One', monospace;
  font-size: 60px;
  text-align: center;

}

h3 {
  font-size: 20px;
}

li {
  list-style-type: none;
  font-size: 10px;
}

.chefs {
  font-family: 'Poiret One', monospace;
  font-size: 30px;
  text-align: left;
  margin: auto;

}

.indextable {
  font-family: 'Poiret One', monospace;
  font-size: 50px;
  text-align: left;
  margin: auto;
  margin-top: -500px;
}

legend {
  font-size: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 150%;
}
