<!DOCTYPE html>
<html>
<head>
  <h1> Ada's Kitchen </h1>
  <nav>
    <a href="/recipes/">HOME</a> |
    <a href="/recipes/home">RECIPES</a> |
    <a href="/people/">CHEFS</a> |
    <a href="/recipes/new">NEW</a>
  </nav>

  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <title>RailsRecipeBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
